/*FONTS*/


@font-face {
    font-family: 'copperplate';
    src: url('../fonts/copperplate-webfont.eot');
    src: url('../fonts/copperplate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copperplate-webfont.woff') format('woff'),
         url('../fonts/copperplate-webfont.ttf') format('truetype'),
         url('../fonts/copperplate-webfont.svg#copperplateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'copperplate_bold';
    src: url('../fonts/copperplate_condensed_ssi_condensed-webfont.eot');
    src: url('../fonts/copperplate_condensed_ssi_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copperplate_condensed_ssi_condensed-webfont.woff') format('woff'),
         url('../fonts/copperplate_condensed_ssi_condensed-webfont.ttf') format('truetype'),
         url('../fonts/copperplate_condensed_ssi_condensed-webfont.svg#copperplate_condensed_ssiCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*/Fonts*/

*
{
	font-family: 'copperplate', serif;
	margin: 0;
	padding: 0;
}



.login-container
{
    border-radius: 15px;
    text-align: center;
    padding: 1%;
    max-width: 300px;

}



.drop-shadow
{
    box-shadow: 0px 0px 21px rgba(50, 50, 50, 0.75);
    width: 40%;
    margin: 5% auto;
}

.login-img
{
}

.login-img img
{
    width: 100%;
}