{% extends "base.html" %}


{% block contenido %}

	<div class="reflexiones-cont-2cols clear-fix">
		

		<section class="content-main clear-fix reflexiones-col-left" style="background: #fffefe;">

				

			<h2 class="content-subtitle">
				Reflexiones
			</h2>

				
					

			<p>
				<span class="content-strong">
						Bienvenido
				</span>

				
				
				<span class="">
				a mi espacio de reflexiones. donde encontrarás acceso 
				</span>
				
					<span class="content-strong">gratuito e inmediato</span>
				
				<span>
				 a posts con consejos, ideas, ejercicios y entrenamientos para una vida mas sana.
				</span>
			
				
			</p>

			<p>
				<span class="content-strong">Ingresa</span> tu mail y recibe posts, consejos y ejercicios <span class="content-strong">totalmente gratis, </span> para alcanzar el éxito emocional y personal en tú vida.
			</p>

				<br>
				<br>
			<div class="content-mail-txt-area">

				<!-- <input type="text" name="mail-newsletter"> -->


				<form action="{% url 'index' %}" method="post">
					{% csrf_token %}
					<p>
						{{ forma_suscripcion.email }}
					</p>
				</form>
			
				<div class="content-subtitle-3 privacidad">
					<ul class="mail-btn">
						<li>
							
							<a onclick="openPrivacyBox()" href="javascript:void(0);">
							Respetamos tu privacidad
							</a>

						</li>

					</ul>
				</div>
			</div>

		</section>

		<section class="content-main clear-fix reflexiones-col-right" style="background: #fffefe;">

			<img src="{{ STATIC_URL }}img/reflexiones-curso.png" alt="reflexiones gaby valdes">

	
		</section>

	</div>

	<section class="content-main clear-fix" style="background: #fffefe;">

		<div class="reflexiones-btns-container">

		<h2 class="content-subtitle">
			Selecciona la opción deseada
		</h2>

		<p>
			selecciona que tipo de material gratuito quieres acceder, aparecerá un menú con todo el contenido extra.

			<h2 class="content-strong" style="line-height: .5em;">
				Que lo disfrutes!
			</h2>

			<br>

		</p>
			<div class="reflexiones-btn1" data-nfo="audio">

						<div class="reflexiones-btn-cont drop-shadow">
							

							<div class="content-subtitle-2">
								Audio Gratis

							</div>

							<br>

							<img src="{{ STATIC_URL }}img/icon-mp3.png">

							<br>


							<div class="content-btn-nfo">
								Escucha Mis Audios Quincenales
							</div>		
	
						</div>

			</div>
			<div class="reflexiones-btn1" data-nfo="video">
				
				<div class="reflexiones-btn-cont drop-shadow">
							

							<div class="content-subtitle-2">
								Videos Gratis

							</div>
							<br>
							<img src="{{ STATIC_URL }}img/icon-video.png">
							<br>
							<div class="content-btn-nfo">
								Videos Gratis Quincenales
							</div>		
	
				</div>

			</div>
			<div class="reflexiones-btn1" data-nfo="ebook">
				
				<div class="reflexiones-btn-cont drop-shadow" >
							

							<div class="content-subtitle-2">
								E-Books Gratis

							</div>
							<br>
							<img src="{{ STATIC_URL }}img/icon-pdf.png">
							<br>
							<div class="content-btn-nfo">
								Descarga E-books Gratis
							</div>		
	
				</div>

			</div>
				
			

		</div>

	</section>

	<section class="content-main clear-fix" style="background: #fffefe;">


		<h2 class="content-subtitle" id="reflexiones-list-title">
			
			Todo el contenido.

		</h2>

{# reflexiones #}
		<div class="reflexiones-container" id="container-reflexiones" style="margin: 0;">					
			{% for reflexion in reflexiones %}
				
				<div class="close-btn" id="reflexion-close-btn-{{ reflexion.id }}" data-type="reflexion"  data-nfo="{{ reflexion.id }}" style="display: none;">
							<img src="{{ STATIC_URL }}img/close.png" alt="cerrar ventana">
				</div>
				<div class="reflexion-container" data-type="reflexion" data-nfo="{{ reflexion.id }}" id="reflexion-{{ reflexion.id }}">
					<a href="/blog/{{ reflexion.id }}/reflexion/">
						
						<h3  class="reflexion-title content-strong">
							{{ reflexion.titulo }}
						</h3>

					</a>
					<p class="reflexion-brief">
						{{ reflexion.abstract | safe }}	
					</p>
					<div class="reflexion-contenido" data-nfo="reflexion-{{ reflexion.id }}" style="display: none;">
						{{ reflexion.contenido | safe }}
					</div>
					<div class="articulo_footer">
						<a href="/blog/{{ reflexion.id }}/reflexion/">
							ver más
						</a>
					</div>
				</div>								
			{% endfor %}
		</div>							
{# /reflexiones #}
	
	{# audio #}

		<div class="reflexiones-container" id="container-audio" style="margin: 0; display:none;">					
			{% for audio in audio %}
				<div class="close-btn" data-type="audio" id="audio-close-btn-{{ audio.id }}"  data-nfo="{{ audio.id }}" style="display: none;">
							<img src="{{ STATIC_URL }}img/close.png" alt="cerrar ventana">
				</div>
				<div class="reflexion-container" data-type="audio" data-nfo="{{ audio.id }}" id="audio-{{ audio.id }}">

					<a href="/blog/{{ audio.id }}/reflexion/">

						<h3  class="reflexion-title content-strong">
							{{ audio.titulo }}
						</h3>
					
					</a>

					<p class="reflexion-brief">
						{{ audio.abstract | safe }}	
					</p>
					<div class="reflexion-contenido" data-nfo="reflexion-{{ audio.id }}" style="display: none;">
						{{ audio.contenido|safe }}
					</div>
					<div class="articulo_footer">
						<a href="/blog/{{ audio.id }}/reflexion/">
							ver más
						</a>
					</div>
				</div>								
			{% endfor %}
		</div>

	{# /audio #}



	{# video #}

		<div class="reflexiones-container" id="container-video" style="display: none; margin: 0;">					
			{% for video in video %}
				
				<div class="close-btn" data-type="video" id="video-close-btn-{{ video.id }}"  data-nfo="{{ video.id }}" style="display: none;">
							<img src="{{ STATIC_URL }}img/close.png" alt="cerrar ventana">
				</div>
				<div class="reflexion-container" data-type="video" data-nfo="{{ video.id }}" id="video-{{ video.id }}">

					<a href="/blog/{{ video.id }}/reflexion/">

						<h3  class="reflexion-title content-strong">
							{{ video.titulo }}
						</h3>

					</a>
					<p class="reflexion-brief">
						{{ video.abstract | safe }}	
					</p>
					<div class="reflexion-contenido" data-nfo="reflexion-{{ video.id }}" style="display: none;">
						{{ video.contenido|safe }}
					</div>
					<div class="articulo_footer">
						<a href="/blog/{{ video.id }}/reflexion/">
							ver más
						</a>
					</div>
				</div>								
			
		{% endfor %}
		</div>

	{# /video #}



	{# ebook #}

	<div class="reflexiones-container" id="container-ebook"  style="margin: 0; display: none;">					
			{% for ebook in ebook %}
				<div class="close-btn" data-type="ebook" id="ebook-close-btn-{{ ebook.id }}"  data-nfo="{{ ebook.id }}" style="display: none;">
							<img src="{{ STATIC_URL }}img/close.png" alt="cerrar ventana">
				</div>
				<div class="reflexion-container" data-type="ebook" data-nfo="{{ ebook.id }}" id="ebook-{{ ebook.id }}">
					<a href="/blog/{{ reflexion.id }}/reflexion/">

						<h3  class="reflexion-title content-strong">
							{{ ebook.titulo }}
						</h3>

					</a>
					<p class="reflexion-brief">
						{{ ebook.abstract | safe }}	
					</p>
					<div class="reflexion-contenido" data-nfo="reflexion-{{ ebook.id }}" style="display: none;">
						{{ ebook.contenido|safe }}
					</div>
				</div>								
			{% endfor %}
		</div>

	{# /ebook #}
		


	</section>


	<script src="{{ STATIC_URL }}js/reflexiones.js">

	</script>

{% endblock %}