<!doctype html>
<html lang="es-MX">
<head>
	<meta charset="utf-8">
	<title>Cursos Gaby Valdes</title>

	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" /> 	

	<link href="{{ STATIC_URL }}css/estilo.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}shadowbox/shadowbox.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>


			
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}shadowbox/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init();
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/shadowbox1.js"></script>

</head>

<body>

	<div class="wrapper clear-fix">
		<header class="main">
			<div class="logo">

				<a href="/">
					<img src="{{ STATIC_URL }}img/logo-head.png" >
					</img>
				</a>

			</div>

			<div class="main head-menu">

				<nav class="main">
					<ul>
						<li>
							<a href="/">
								Inicio
							</a>
						</li>
						<li>
							<a href="/blog/reflexiones/">
								Reflexiones
							</a>
						</li>
						<li>
							<a href="/">
								Productos
							</a>
						</li>
						<li>
							<a href="http://cursos.gabyvaldes.com/testimonio/">
								Testimonios
							</a>
						</li>
						<li>
							<a href="/contacto">
								Contacto
							</a>
						</li>
					</ul>
				</nav>

			</div>
			
		</header>
		
		<section class="main">

				{% block contenido %} 

		        {% endblock %}			

		</section>

		<footer class="main">

			<section class="content-main" style="background: #fffefe;">

				<!-- Rio Churubusco 459. Colonia Unidad Modelo, Delegación Iztapalapa. || C.P. 09090 || Tel. 56466473 -->
				
				Antonio Van Dyck # 14 int. 302 Delegación Benito Juárez. || C.P. 03700 || Tel. 56466473

			</section>
			

		</footer>

		<br>

	</div>


	
</body>
</html>