{% extends "base.html" %}


{% block contenido %}

	<div class="reflexiones-cont-2cols clear-fix">
		

		<section class="content-main clear-fix reflexiones-col-left" style="background: #fffefe;">

				

			<h2 class="content-subtitle">
				Reflexiones
			</h2>

				
					

			<p>
				<span class="content-strong">
						Bienvenido
				</span>

				
				
				<span class="">
				a mi espacio de reflexiones. donde encontrarás acceso 
				</span>
				
					<span class="content-strong">gratuito e inmediato</span>
				
				<span>
				 a posts con consejos, ideas, ejercicios y entrenamientos para una vida mas sana.
				</span>
			
				
			</p>

			<p>
				<span class="content-strong">Ingresa</span> tu mail y recibe acceso <span class="content-strong">gratis e inmediato</span> a estos videos, e-books y audios llenos de información para comenzar a vivir tu vida al máximo ahora mismo.
			</p>

				<br>
				<br>
			<div class="content-mail-txt-area">

				<!-- <input type="text" name="mail-newsletter"> -->


				<form action="{% url 'index' %}" method="post">
					{% csrf_token %}
					<p>
						{{ forma_suscripcion.email }}
					</p>
				</form>
			
				<div class="content-subtitle-3 privacidad">
					<ul class="mail-btn">
						<li>
							
							<a href="#">
							Respetamos tu privacidad
							</a>

						</li>

					</ul>
				</div>
			</div>

		</section>

		<section class="content-main clear-fix reflexiones-col-right" style="background: #fffefe;">

			<img src="{{ STATIC_URL }}img/reflexiones-curso.png" alt="reflexiones gaby valdes">

	
		</section>

	</div>

	<section class="content-main clear-fix" style="background: #fffefe;">

		<div class="reflexiones-btns-container">

			<h2 class="content-subtitle">
			Selecciona la opción deseada
		</h2>

		<p>
			selecciona que tipo de material gratuito quieres acceder, aparecerá un menú con todo el contenido extra.
		</p>

		<h2 class="content-strong">
			Que lo disfrutes!
		</h2>

			<div class="reflexiones-btn1">

						<div class="reflexiones-btn-cont drop-shadow">
							

							<div class="content-subtitle-2">
								Audio Gratis

							</div>

							<img src="{{ STATIC_URL }}img/icon-mp3.png">

							<div class="content-btn-nfo">
								Escucha Mis Audios Quincenales
							</div>		
	
						</div>

			</div>
			<div class="reflexiones-btn1">
				
				<div class="reflexiones-btn-cont drop-shadow">
							

							<div class="content-subtitle-2">
								Videos Gratis

							</div>

							<img src="{{ STATIC_URL }}img/icon-video.png">

							<div class="content-btn-nfo">
								Videos Gratis Quincenales
							</div>		
	
				</div>

			</div>
			<div class="reflexiones-btn1">
				
				<div class="reflexiones-btn-cont drop-shadow">
							

							<div class="content-subtitle-2">
								E-Books Gratis

							</div>

							<img src="{{ STATIC_URL }}img/icon-pdf.png">

							<div class="content-btn-nfo">
								Descarga E-books Gratis
							</div>		
	
				</div>

			</div>
				
			

		</div>

	</section>

	<section class="content-main clear-fix" style="background: #fffefe;">


		<h2 class="content-subtitle">
			
			Todo el contenido.

		</h2>


		<div class="reflexiones-container" style="margin: 0;">

									
								{% for reflexion in reflexiones %}
									
									<div class="reflexion-container">
									
										<h3  class="reflexion-title content-strong">
											
											{{ reflexion.titulo }}

										</h3>
										<p class="reflexion-brief">

											{{ reflexion.abstract }}
											
										</p>

										<div style="display: block">
											{{ reflexion.contenido }}
										</div>

									</div>								
	
								{% endfor %}

								
									


								<div class="reflexion-container">
									
									<h3 class="reflexion-title content-strong">
										Reflexion 2
									</h3>
									<div class="reflexion-brief">
										brief 2
									</div>

								</div>

								<div class="reflexion-container">
									
									<div class="reflexion-title content-strong">
										Reflexion 3
									</div>
									<div class="reflexion-brief">
										brief 3
									</div>

								</div>

									

									
									

								

		</div>
								




	
		


	</section>

{% endblock %}