{% extends "base.html" %}

{% block contenido %}

			<section class="content-main clear-fix" style="background: #fffefe;">
				
				<div class="content-subtitle">
					Bienvenidos
				</div>

				<br>
				<div class="content-nfo" style="font-size: 1.3em; line-height: 1.4em;">
					<p>

						Quiero darte la bienvenida a nuestra comunidad, formada por gente que esta decidida a tener mejores experiencias cada día de sus vidas; Es para todos, para quienes estan en proceso de crecimiento, para quienes no saben como empezar, para quienes saben a donde van y para los que estan buscando rumbo. 

					</p>


					
					

					<div class="content-strong">
						Nos da gusto recibirte!!!
					</div>
				</div>
				<div class="content-img">

					<img src="{{ STATIC_URL }}img/foto.jpg">

				</div>

			</section>



			<section class="content-main content-index clear-fix">

				<div class="content-index">


					<div class="content-3-1" style="border-right: #8a2e17 solid 1em;">

						<div class="content-btn-1" data-type="audio" style="margin:0; paddig:0;">

							<div class="content-subtitle-2">
								Audio Gratis

							</div>



							<img src="{{ STATIC_URL }}img/icon-mp3.png">

							<div class="content-btn-nfo">
								Escucha Mis Audios Quincenales
							</div>

						</div>

						<div class="content-btn-1" data-type="video">

							<div class="content-subtitle-2">
								Video Gratis
							</div>

							<img src="{{ STATIC_URL }}img/icon-video.png">

							<div class="content-btn-nfo">
								Videos Gratis Quincenales
							</div>

						</div>

						<div class="content-btn-1" data-type="ebook">

							<div class="content-subtitle-2">
								E-Books Gratis
							</div>

							<img src="{{ STATIC_URL }}img/icon-pdf.png">

							<div class="content-btn-nfo">
								Descarga E-books Gratis
							</div>

						</div>

					</div>
					
					<div class="content-3-2 clear-fix drop-shadow">

						<div class="content-subtitle">
							Reflexiones
						</div>

						<div class="content-nfo c3-2-nfo clear-fix" style="width:100%; font-size: 1.3em; line-height:1.4em;">
							Coloca tu 
							<span class="content-strong">
								Mail
							</span>
							Abajo y presiona Enter, recibirás
							<span class="content-strong">
								inmediatamente
							</span>
							mis tips, consejos y ejercicios para una vida 
							<span class="content-strong">
								Más abundante y prospera.
							</span>

							<br>

							<div class="content-mail-txt-area">

								<!-- <input type="text" name="mail-newsletter"> -->
							

								<form action="{% url 'index' %}" method="post">
									{% csrf_token %}
									<p>
										{{ forma_suscripcion.email }}
									</p>
								</form>
							
								<div class="content-subtitle-3 privacidad">
									<ul class="mail-btn">
										<li>
											<a onclick="openPrivacyBox()" href="javascript:void(0);">
												Respetamos tu privacidad
											</a>

										</li>

									</ul>
								</div>

							</div>
							
							<br>
			
							
							<div class="content-3-2-img">

								<!--Slide Bootstrap-->
	           
							   <div id="myCarousel" class="carousel slide">

							              <ol class="carousel-indicators">

							                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							                <li data-target="#myCarousel" data-slide-to="1"></li>

							              </ol>

							              <!-- Carousel items -->
							              <div class="carousel-inner">

							                <div class="active item">
							                  <img src="{{ STATIC_URL }}img/proximamente.png">
							                </div>
							                <div class="item">
							                  <img src="{{ STATIC_URL }}img/slide01.png" alt="cursos gaby valdes">
							                </div>
							                

							              </div>

							              <!-- Carousel nav  -->

							              <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
							              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
							              
							              
							             
								</div> 
					            
										<!--Slide Bootstrap-->

								

							</div>

							<!-- <div class="c3-2-nfo" style="font-size: 1em;">

								Suscríbete para recibir acceso gratis e inmediato a videos, ebooks y audios llenos de información para comenzar a vivir tu vida al máximo ahora mismo.
								Obten acceso a información creada por Gaby Valdes, coach certificada que te traerá con sus ejercicios una vida  --><!-- más próspera y de salud emocional.

							</div> -->

							<br>




						</div>

						<div class="globo-reflexiones-index">

							<div class="close-btn">
								<img src="{{ STATIC_URL }}img/close.png" alt="cerrar ventana">

							</div>


							<div class="reflexiones-main-container">

								<h2 id="reflexiones-titulo" class="content-subtitle">

										Audio Gratis
										
								</h2>
								

								

								<div class="reflexiones-container" id="reflexiones-audio" style="display: none;">
									
									{% for audio in audio %}



										<a href="/blog/{{ audio.id }}/reflexion/">
										

											<div class="reflexion-container">							
												<h3  class="reflexion-title content-strong">
													
													{{ audio.titulo }}

												</h3>
												<p class="reflexion-brief">

													{{ audio.abstract }}
													
												</p>

											</div>

										</a>
									

									{% endfor %}							

									
									

								</div>

								<div class="reflexiones-container" style="display: none;" id="reflexiones-video">
									
									{% for video in video %}


										<a href="/blog/{{ video.id }}/reflexion/">
										

											<div class="reflexion-container">							
												<h3  class="reflexion-title content-strong">
													
													{{ video.titulo }}

												</h3>
												<p class="reflexion-brief">

													{{ video.abstract }}
													
												</p>

											</div>

										</a>
									

									{% endfor %}							

									
									

								</div>

								<div class="reflexiones-container" style="display: none;" id="reflexiones-ebook" >
									
									{% for ebook in ebook %}



										<a href="/blog/{{ ebook.id }}/reflexion/">
										

											<div class="reflexion-container">							
												<h3  class="reflexion-title content-strong">
													
													{{ ebook.titulo }}

												</h3>
												<p class="reflexion-brief">

													{{ ebook.abstract }}
													
												</p>

											</div>
										
										</a>

									{% endfor %}							

									
									

								</div>

							</div>
								

						</div>


					</div>
					
					<div class="content-3-1 c3-1-2" style="border-left: #8a2e17 solid 1em;">

						<div class="content-btn-2" style="text-align: left; margin: 0;">

							<div class="content-subtitle-2">
								Login:		
							</div>

							<div class="content-subtitle-3" style="font-size:1.6em; line-height:1.1em;">
								<br>
								Ingresa para ver tus cursos y suscripciones
								<br>
								
								<form method="get" action="http://cursos.gabyvaldes.com/caja/historial-de-compras/">

									<input type="submit" class="submit-btn" value="entrar" action="http://cursos.gabyvaldes.com/wp-login/" name="login-btn" style=" text-align: left; border:0;
								padding: 0 0 0 1.6em; font-size: .8em; width:80%; background: url({{ STATIC_URL }}img/btn-2.png) no-repeat 0.5em .5em; height: 26px;">

								</form>

							</div>
							

							<!-- <div class="content-subtitle-3">
								E-mail:
								<input type="text" name="mail-username">
							</div>

							<div class="content-subtitle-3">
								Password:
								<input type="password" name="password">
								<input type="submit" class="submit-btn" value="entrar" name="login-btn" style=" text-align: left; border:0;
								padding: 0 0 0 1.6em; font-size: .8em; width:80%; background: url({{ STATIC_URL }}img/btn-2.png) no-repeat 0.5em .5em; height: 26px;">
							</div> -->

						</div>

						<div class="content-btn-2" style="text-align: left;">

							<div class="content-subtitle-2" style="height: 5%;">
								
								<!-- twitter -->
									

									<a class="twitter-timeline" href="https://twitter.com/gabyvaldesmx" data-widget-id="449803281653456896">Tweets por @gabyvaldesmx</a>
									<script>
										!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
									</script>




								<!-- /twitter -->


								
								
							</div>

						</div>

						<div class="content-btn-2" style="text-align: left;">

							<div class="content-subtitle-2">
								Redes Sociales
								
							</div>
							<a href="http://www.facebook.com/gaby.valdesh" >

								<img src="{{ STATIC_URL }}img/facebook_32.png">

							</a>

							<a href="https://twitter.com/gabyvaldes8">


								<img src="{{ STATIC_URL }}img/twitter_32.png">

							</a>

						</div>


					</div>

				</div>

			</section>

				<div class="testimonials-cont">
					


			


					{% for testimonio in testimonios  %}
						<div class="content-main clear-fix" data-nfo="{{ testimonio.id }}"  style="padding:0.2em 0 1.2em 0; display: none" >




							<div class="content-main clear-fix" style=" background: #fffefe;">	

								<div class="content-subtitle">
										Testimonios

								</div>

								<div class="content-nfo" style="width: 90%; padding: 1em 0 2.5em 0;">

									<p>
										{{ testimonio.contenido | safe }}
									</p>


								</div>

								<div class="testimonio-autor">
									{{ testimonio.abstract | safe }}
								</div>

							</div>

						</div>

					{% endfor %}

				</div>
						<script src="{{ STATIC_URL }}js/reflexiones-index.js">

						</script>

{% endblock %}
